.footer-container{
    background-color: #205375;
    .copyright{
        display: flex;
        justify-content: center;
        width: 100%;
        color: #EEEEEE;
        padding-bottom: 1rem;
    }
}

.footer{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: auto;
    padding: 1.5rem 0;
    color: #fefefe;

    h2{
        color: #EFEAD8;
    }
    .map{
        margin: 1rem 0;
    }
    .social{
        margin-top: 1rem;
        .social-icon{
            margin: 1rem 1rem 1rem 0;
            cursor: pointer;
            color: #fefefe;

            &:hover{
                //opacity: 0.8;
                color: #F66B0E;
                transform: scale(1.2);
            }
        }
    }
    
    .right{
        width: 40%;
    }
    .contact-form{
        display: flex;
        flex-direction: column;
        
        h2{
            margin-bottom: 1rem;
        }
        .text-box{
            padding: 1rem 0.5rem;
            margin-bottom: 0.5rem;
            outline: none;
            border-radius: 4px;
            border: none;
        }

        .submit{
            width: 25%;
            padding: 0.5rem 0;
            font-size: large;
            cursor: pointer;
            border-radius: 3px;
            border: none;
            background-color: #F66B0E;

            &:hover{
                transition: ease;
                background-color: rgb(172, 169, 169);
            }
        }

        ::placeholder{
            color: #000;
        }
    }

}